.top-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1rem;
  padding: 1rem;
}

.top-banner li {
  font-size: 1.5rem;
  font-weight: 600;
  flex-shrink: 0;
}

.highlights-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  background-color: var(--light);
  padding: 5rem 2rem;
}

.left-column {
    max-width: 700px;
    display: flex;
    justify-content: center;
    width: 50%;
}
.left-column img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.right-column {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.hs-pitch {
    color: maroon;
    font-weight: 600;
    text-transform: uppercase;
}

.hs-summary {
    padding: 2rem 2rem 2rem 0;
}

.hs-courseId {
    padding-top: 0.5rem;
}

.highlights-section h3 {
  font-size: 2rem;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.hs-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}